/* header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
} */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-items{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
header .business-container{
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-link{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #000;
    text-decoration: none;
    gap: 10px;
}